
.single-room{

  #hero{
    .main-header{
      display: block;
    }
  }

  .room-description-item{
    padding-top: 120px;
    position: relative;
    padding-bottom: 0;
    background: #e3d0c2;

    @media(max-width: 1200px){
      padding-top: 100px;
    }

    @media(max-width: 992px){
      padding-top: 80px;
    }

    @media(max-width: 575px){
      padding-top: 60px;
    }

    .mount-bg{
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;

      @media(max-width: 767px){
        width: 150vw;
        top: 50%;
        transform: translateY(-50%);
      }

      @media(max-width: 440px){
        width: 300vw;
      }
    }

    .container{
      position: relative;
      z-index: 2;
    }

    .content{
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 100%;
      flex-direction: unset;

      @media(max-width: 767px){
        flex-wrap: wrap;
      }
    }

    .pic-wrapper{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .inner{

        .simpleParallax{
          width: 100%;
          height: 100%;
        }

        img{
          height: 100%;
          width: auto;
          object-fit: cover;
        }
      }
    }

    .text-content{
      .headline-title{
        margin-bottom: 20px;
      }

      p{
        font-size: 17px;
        letter-spacing: 0.72px;
        font-family: $f-inter-reg;
        line-height: 1.7;
      }

      ul{
        display: grid;
        gap: 40px;

        @media(max-width: 767px){
          gap: 30px;
        }


        @media(max-width: 575px){
          gap: 20px;
        }

        li{
          list-style: none;
          position: relative;
          padding-left: 57px;
          font-size: 17px;
          letter-spacing: 0.72px;
          font-family: $f-inter-reg;
          line-height: 1.7;

          @media(max-width: 575px){
            padding-left: 40px;
          }

          &:before{
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            transform: rotate(45deg);
            background: #460000;
            left: 5px;
            top: 20%;
            transform-origin: center;
          }
        }
      }
    }

    &.general-description{
      .pic-wrapper{
        width: 695px;
        height: 698px;
        
        @media(max-width: 1200px){
          width: 60%;
          height: 550px;
        }

        @media(max-width: 992px){
          height: 450px;
        }

        @media(max-width: 767px){
          width: 100%;
          height: auto;
          order: 2;
        }

        .inner{
          width: 57vw;
          height: 100%;
          margin-left: -30vw;
          transform: translateX(-20px);

          @media(max-width: 1200px){
            transform: translateX(-33px);
          }

          @media(max-width: 767px){
            width: 100%;
            height: auto;
            margin: 0;
            transform: translateX(0);
          }
        }
      }

      .text-content{
        width: 407px;
        padding-top: 34px;
        position: relative;

        @media(max-width: 767px){
          width: 100%;
          margin-bottom: 30px;
          order: 1;
        }

        &:before,
        &:after{
          content: '';
          position: absolute;
          background: #1D1D1D;
        }

        &:before{
          top: 5px;
          left: 0;
          height: 2px;
          width: 330px;

          @media(max-width: 440px){
            width: 70%;
          }
        }

        &:after{
          width: 8px;
          height: 8px;
          transform: rotate(45deg);
          left: 330px;
          top: 2px;

          @media(max-width: 440px){
            left: 70%;
          }
        }
      }
    }

    &.advantages{
      .text-content{
        width: 420px;
        padding-bottom: 115px;
        
        @media(max-width: 767px){
          width: 100%;
          padding-bottom: 0;
          margin-bottom: 30px;
        }
      }

      .pic-wrapper{
        width: 685px;
        height: 100%;
        position: relative;

        @media(max-width: 1200px){
          width: 60%;
        }

        @media(max-width: 767px){
          width: 100%;
          height: auto;
        }

        .inner{
          width: 60vw;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          overflow: hidden;

          @media(max-width: 767px){
            position: relative;
            width: 100%;
          }

          img{
            width: auto;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            -o-object-fit: cover;
            object-fit: cover;

            @media(max-width: 767px){
              width: 100%;
              height: auto;
            }
          }
        }

      }
    }

    &.basic-information{
      .pic-wrapper{
        width: 385px;
        position: relative;

        @media(max-width: 1200px){
          width: 40%;
        }

        @media(max-width: 767px){
          width: 100%;
          order: 2;
        }

        .inner{
          width: 40vw;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;

          @media(max-width: 767px){
            position: relative;
            width: 100%;
          }

          img{
            width: auto;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            -o-object-fit: cover;
            object-fit: cover;

            @media(max-width: 767px){
              width: 100%;
              height: auto;
            }
          }
        }
      }

      .text-content{
        width: 675px;
        padding-bottom: 90px;

        @media(max-width: 1200px){
          width: 55%;
        }

        @media(max-width: 767px){
          width: 100%;
          margin-bottom: 30px;
          order: 1;
          padding-bottom: 0;
        }
      }
    }
  }

  /*--- room-meta ---*/

  .room-meta{
    padding-top: 120px;
    background: #e3d0c2;

    @media(max-width: 1200px){
      padding-top: 100px;
    }

    @media(max-width: 992px){
      padding-top: 80px;
    }

    @media(max-width: 575px){
      padding-top: 60px;
    }

    .content{
      padding: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: unset;
      justify-content: center;
      gap: 0;
      row-gap: 77px;

      .brand-box{
        width: 20%;
        padding: 0 15px;

        @media(max-width: 1200px){
          width: 25%;
        }

        @media(max-width: 767px){
          width: 33%;
        }

        @media(max-width: 440px){
          width: 50%;
        }
      }
    }

    .details{
      padding: 120px 0 0 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: unset;
      gap: 0;
      row-gap: 60px;
      align-items: flex-start;
      justify-content: space-between;

      @media(max-width: 1200px){
        padding-top: 100px;
      }

      @media(max-width: 992px){
        padding-top: 80px;
      }

      @media(max-width: 575px){
        padding-top: 60px;
      }
    }

    .healdine{
      width: calc(33% - 15px);
      padding-bottom: 15px;
      position: relative;

      @media(max-width: 992px){
        width: 100%;
      }

      &:before,
      &:after{
        content: '';
        background: #000000;
        position: absolute;
      }

      &:before,{
        width: 270px;
        height: 2px;
        left: 0;
        bottom: 0;
      }

      &:after{
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        left: 270px;
        bottom: -3px;
      }
    }

    .completeness{
      position: relative;
      padding-left: 57px;

      @media(max-width: 575px){
        padding-left: 30px;
      }

      &:before{
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        transform: rotate(-45deg);
        background: #460000;
        top: 5px;
        left: 5px;

        @media(max-width: 575px){
          width: 10px;
          height: 10px;
        }
      }

      p{
        display: inline-block;
        color: #170100;
        font-family: $f-inter-reg;
        font-size: 17px;
        line-height: 1.7;
        letter-spacing: 0.72px;
        margin-bottom: 0;

        @media(max-width: 575px){
          font-size: 14px;
        }

        &.completeness__name{
          text-transform: uppercase;
        }

        &.completeness__item{
          padding-left: 10px;
          padding-right: 2px;
          position: relative;

          &:before{
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #170100;
            left: 2px;
            top: 50%;
            transform: translateX(-50%);
            position: absolute;
          }

        }
      }



      &.amenities{
        width: calc(67% - 15px);
        @media(max-width: 992px){
          width: 100%;
        }
      }

      &.furniture{
        width: calc(33% - 15px);
        @media(max-width: 992px){
          width: 100%;
        }
      }

      &.bathroom{
        width: calc(67% - 15px);
        @media(max-width: 992px){
          width: 100%;
        }
      }
    }
  }

  /*--- announce ---*/

  .announce{
    .announce-content{
      display: none;
    }
  }
}
